h1{
    display: inline;
}
.letters{
    color: #F6B400;
}
nav .col1 ul li{ 
    list-style: none;
    display: inline-flex;
    font-size: 17px;
    text-align: center;
    margin-left: 100px;
    margin-top: -50px;
    position: relative;
    z-index: 3;
}
button{ 
    width: 140px;
    height: 40px;
    text-align: center;
    color: white;
    background-color:#F6B400;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}
.sweet-burger img{
   
    max-width: 300px;
    height: 356px;
    margin-bottom: 60px;
    margin-right: 200px;

}

#burger1{
    max-width: 100%;
    max-height: 100%;
    float:right ;
    float: top;
    position: relative;
}
.mama{
    background-image:linear-gradient(117deg,white 50%,#f4b956 50%)}
.services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 300px;

}
.burger{border: 1px solid burlywood;
    border-radius: 10px;
    margin: 20px;
    padding: 100px;
    
}
.delivery{
    border: 1px solid burlywood;
    border-radius: 10px;
    margin: 20px;
    padding: 100px;
}
.meals{
    border: 1px solid burlywood;
    border-radius: 10px;
    margin: 20px;
    padding: 100px;
}
.menu{
    text-align: center;
    
}
.title
.sweet-burger
img{
    display :flexbox;
    float: right;
}
.col1{
    margin-left: 250px;
    margin-bottom: 101px;
}
.burger-img{
    display: flexbox;
    flex-wrap: wrap;
    
    width: 300px;
    
}
.menu{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}


.rain{margin-bottom: 100px;}

.tasty{margin-bottom: 100px;}

.button{margin-bottom: 100px;}





.row-img .firstthree{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    width: 300px;
    padding: 20px;
    margin-bottom: 130px;
    background :white;
}

.row-img .lastthree{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    width: 300px;
    padding: 20px;
    margin-bottom: 130px;
    background :white;
}



 