h1{
    display: inline;
}
.letters{
    color: #F6B400;
}
nav .col1 ul li{ 
    list-style: none;
    display: inline-flex;
    font-size: 17px;
    text-align: center;
    margin-left: 100px;
    margin-top: -50px;
    position: relative;
    z-index: 3;
}
button{ 
    width: 140px;
    height: 40px;
    text-align: center;
    color: white;
    background-color:#F6B400;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}
.sweet-burger img{
    /* display: inline-flex;
    margin-left: 500px;
    padding-top: 100px;
    float:top right;
    height: 700px;width: 550px ;
    margin-top: 250px; */
    max-width: 300px;
    height: 546px;  
}

#burger1{
    max-width: 100%;
    max-height: 100%;
    float:right ;
    float: top;
    position: relative;
}
.services{
    display: flex;
}
.burger{border: 1px solid burlywood;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    
}
.delivery{
    border: 1px solid burlywood;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.meals{
    border: 1px solid burlywood;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.menu{
    text-align: center;
    
}
.title
.sweet-burger
img{
    display :flexbox;
    float: right;
}
.col1{
    margin-left: 250px;
    margin-bottom: 101px;
}
.burger-img{
    display: flexbox;
    flex-wrap: wrap;
    
    width: 300px;
    
}
.menu{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}


.rain{margin-bottom: 100px;}

.tasty{margin-bottom: 100px;}

.button{margin-bottom: 100px;}

.burger-img{border: 1px solid burlywood;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
width: 500px;
}
.first three{
    display:inline-flex;
    width: 300px;
    flex-wrap: wrap;
    flex-direction: row;
 }